{{ define "_dashboard-nav.tmpl" }}

<div class="container">
  <ul class="nav nav-bordered mt-4 mt-md-2 mb-0 clearfix " role="tablist">
    {{ if .demoMode }}
    <li class="nav-item" role="presentation">
      <a href="#dashboard" class="nav-link" role="tab" data-toggle="tab" aria-controls="Dashboard">Dashboard</a>
    </li>
    {{ end }}
    <li class="nav-item" role="presentation">
      <a href="#deployment" class="nav-link active" role="tab" data-toggle="tab" aria-controls="Deployment">Deployment</a>
    </li>
    {{ if .demoMode }}
    <li class="nav-item" role="presentation">
      <a href="#metrics" class="nav-link" role="tab" data-toggle="tab" aria-controls="support">Metrics</a>
    </li>
    {{ end }}
    <li class="nav-item" role="presentation">
      <a href="#settings" class="nav-link" role="tab" data-toggle="tab" aria-controls="settings">Settings</a>
    </li>
    <li class="nav-item ml-auto" role="presentation">
      <a href="https://{{.app.Slug}}.loomapps.io" target="_blank" class="nav-link" aria-controls="openapp">
        <i class="icon icon-export"></i>
        Open App Frontend
      </a>
    </li>
  </ul>
</div>
<hr class="mt-0 mb-5">

{{ end }}
