{{ define "_dashboard-status.tmpl" }}

<div class="breadcrumb">
    <div class="container no-gutter">
      <nav class="breadcrumb mb-0 pb-0">
        <a class="breadcrumb-item" href="/">All DApps</a>
        <a class="breadcrumb-item active" href="#">{{.app.Name}}</a>
      </nav>
      <div class="live-status pl-3">
        <span class="btn btn-xs btn-pill btn-success p-1"></span>
        <small>Last Deployed: 2017-10-18 16:31 UTC</small>
        <span class="icon icon-lock text-success"></span>
        <small>Last Validated: 2017-10-18 16:31 UTC, <span class="text-danger">1 ETH</span> insurance.</small>
      </div>
    </div>
  </div>

{{ end }}
