{{ define "_header.tmpl" }}

<nav class="navbar navbar-expand-sm fixed-top app-navbar">

    <a class="navbar-brand" href="/">
      <img src="/assets/images/rgb-text-transparent-bg-trimmed.svg">
    </a>

    <button
      class="navbar-toggler navbar-toggler-right d-md-none"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav mr-auto nav-pills">
        {{ if  .loggedIn }}
        <li class="nav-item">
          <a class="nav-link" href="/">All DApps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Account</a>
        </li>
        {{ end }}
        {{ if .demoMode }}
        <li class="nav-item">
          <a class="nav-link" href="/">Documentation</a>
        </li>
        {{ end }}
        <li class="nav-item">
        </li>
      </ul>
      {{ if  .loggedIn }}
      {{ if .demoMode }}
      <form class="form-inline d-none d-md-flex ml-auto">
        <input class="form-control" type="text" data-action="grow" placeholder="Search">
      </form>
      {{ end }}
      <div class="d-none d-md-flex dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           <img src="/assets/images/Satoshi-Nakamoto-AP.jpg" alt="" class="rounded-circle" height="30">
         </a>
         <div class="dropdown-menu account-dropdown">
           <div class="dropdown-item">Satoshi@loomx.io</div>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="mailto:support@loomx.io">Get Support</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item text-danger" href="/logout">Log Out</a>
         </div>
       </div>

      {{ end }}
      <!-- tood maybe a user icon with a drop down -->
    </div>
  </nav>

{{ end }}
