
{{define "content"}}
<br>
<br>
<br>
<br>
<br>


 <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=a6abecccefa53842aba4">Login with Github</a>

<a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=86zs2w1g2j8hfu&redirect_uri=http%3A%2F%2F127.0.0.1%3A8080%2Foauth%2Fcallback_linkedin&state=634243432&scope=r_emailaddress,r_basicprofile">Login with LinkedIn</a>

{{ end }}
