
{{define "content"}}

<div class="col-md-4 mx-auto mt-5">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Login Failed.</strong> Please try again or try using another method.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="login-card mt-5">
      <div class="list-group mb-3">
        <h6 class="list-group-header bg-primary text-white">
          Login Required
        </h6>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{.githubClientID}}&redirect_uri={{.serverbasepath}}%2Foauth%2Fcallback_github">
          <span class="icon icon-github"></span>
          <span>Login with Github</span>
        </a>

        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=86zs2w1g2j8hfu&redirect_uri={{.serverbasepath}}%2Foauth%2Fcallback_linkedin&state=634243432&scope=r_emailaddress,r_basicprofile">
          <span class="icon icon-linkedin"></span>
          <span>Login with LinkedIn</span>
        </a>
      </div>
  </div>
</div>

{{ end }}
