{{ define "_applications-list.tmpl"}}

<div class="list-group mb-3">
  <h6 class="py-3 mb-0 mt-3">
    <div class="mx-auto container">
      <h5 class="d-inline-block mt-2">All DApps</h5>
      <a class="float-right btn btn-outline-danger" href="/newdapp">New DApp</a>
    </div>
  </h6>

  {{ range .applications }}
    <a class="list-group-item list-group-item-action justify-content-between d-flex" href="/dashboard/{{.Slug}}">
      <div class="mx-auto container">
        <btn class="btn btn-outline-info mr-5">
          {{ if  eq .Status "Live" }}
            <span class="btn btn-xs btn-pill btn-success p-1 mr-1"></span><small class="text-info">{{.Status}}</small>
          {{ else }}
            <span class="btn btn-xs btn-pill btn-danger p-1 mr-1"></span><small class="text-info">{{.Status}}</small>
          {{ end }}
        </btn>


        <span class="text-bold">{{.Name}}</span>
        <small class="float-right text-info mt-2">{{.LastDeployed.Format "Jan 02, 2006 15:04:05 UTC"}}</small>

      </div>
    </a>
  {{ end }}
</div>

{{end}}
