{{ define "_deployment.tmpl"}}

<div role="tabpanel" class="tab-pane active" id="deployment">
  <div class="container">
    <div class="row">
    <div class="col-md-6 overview-sidebar">
      <form action="/upload/{{.app.Slug}}" class="dropzone" id="DApp-uploader">
        <input type="hidden" id="application_id" value="{{.app.ID}}" />
      </form>
    </div>
    <div class="col-md-6 content">
      <div class="d-flex mb-3">
        {{ if .demoMode }}
        <a class="col mr-1 btn btn-outline-success" href="#">
          <img src="/assets/images/ethereum-1.svg" class="small-icon mr-3">
          Deploy to MainNet</a>
        <a class="col ml-1 btn btn-outline-warning" href="#">
          <img src="/assets/images/ethereum-ropsten.svg" class="small-icon mr-3">
          Deploy to Ropsten</a>
        {{ end }}
      </div>
      <div class="list-group mb-3" id="deploymentlog">
        <h6 class="list-group-header">Deployment Log</h6>

        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          <span></span>
          <span class="text-muted"></span>
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          <span></span>
          <span class="text-muted"></span>
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          <span></span>
          <span class="text-muted"></span>
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          <span></span>
          <span class="text-muted"></span>
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          <span></span>
          <span class="text-muted"></span>
        </a>
        <a class="list-group-item list-group-item-action justify-content-between d-flex" href="#">
          <span></span>
          <span class="text-muted"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      
      <ul>
      <li>How to make a zip file for upload</li>
      <li>Example structure:</li>
      <li>/contracts/contract.json <br>
      has a truffle formated json file
      <li>
      /static <br>
      has all html context like /static/index.html /static/bob.js 
      </li>
      <li> Open source example project <a href="https://github.com/opscoin/block_ssh">Block Ssh </a> </li>
      <li> Finalized directory structure <a href="https://github.com/opscoin/pre_compiled_block_ssh">Block Ssh(precompiled) </a> </li>
    </div>
  </div>
  </div>
</div>
{{end}}
