{{define "content"}}

	{{template "_dashboard-status.tmpl" .}}
	{{template "_dashboard-nav.tmpl" .}}

	<div class="tab-content">
		{{template "_overview.tmpl" .}}
		{{template "_deployment.tmpl" .}}
		{{template "_metrics.tmpl" .}}
		{{template "_settings.tmpl" .}}
	</div>
{{ end }}
