{{define "content"}}

<div class="container">
  <form class="mt-5" method="POST" action="/applications">
    <div class="col-md-6 card mx-auto p-5">
      <div class="form-group ">
        <label for="dappNameInput">DApp Name</label>
        <input type="text" class="form-control" id="dappNameInput" name="name" placeholder="bitcoin-2.0">
      </div>
      <div class="form-group ">
        <label for="dappSlugInput">Slug</label>
        <input type="text" class="form-control" id="dappSlugInput" name="slug" placeholder="bitcoin20">
      </div>
      <div class="form-group">
        <label for="testRPCSelector">Available TestRPC</label>
        <select class="form-control" id="testRPCSelector">
          <option>4.1.1</option>
          <option>4.1.0</option>
          <option>4.0.0</option>
        </select>
      </div>
      <div class="form-group">
        <label for="gethSelector">Available GETH</label>
        <select class="form-control" id="gethSelector">
          <option>1.7.2</option>
          <option>1.7.1</option>
          <option>1.7.0</option>
          <option>1.6.9</option>
        </select>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          Simulate Slow Speeds (20 Tx/sec)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          Pre-mine 5 Million ETH
        </label>
      </div>
      <button class="btn btn-success mt-3" type="submit">Create Now</button>
    </div>
  </form>
</div>

{{ end }}
